<header id="header__bar" role="banner">
    <div class="container">
        <div class="logo">
            <a routerLink="home">
                <img src="/assets/images/logo.png" alt="Apna Bazaar Logo" />
            </a>
        </div>

        <nav class="navigation" role="navigation" rel="primary">
            <ul>
                <li> <a routerLink="home">Home</a> </li>
            </ul>
        </nav>
        
       

        <div class="actions">
            <nav>
                <ul>
                    <li> <a routerLink="sign-in">SignIn</a> </li>
                    <li> <a routerLink="sign-up">Register</a> </li>
                </ul>
            </nav>

          
        </div>

    </div>
</header>
